/* 5.uzdevums */
 .button {
     background-color: #E5E9F0;
     border: 4px solid #5E81AC;
     color: #2E3440;
     padding: 7px 14px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
}